.customNav { 
    background-color: #2c3e50 !important; 
    color: #fff !important;
    text-decoration:  none;
    font-weight: 600;
}
.navLink{
    color: #fff !important;
}
.isActive{
    background: #1abc9c !important;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

