.footer-section{
    background-color: #2c3e50; 
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;               
    height: 40px;
    border: 1px solid #fff;   
    border-radius: 50%;
    background: transparent;  
    color: #fff;               
    line-height: 0;      
}